<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs"
     xmlns:bal="http://wixtoolset.org/schemas/v4/wxs/BootstrapperApplication"
     xmlns:util="http://wixtoolset.org/schemas/v4/wxs/util">

  <Bundle Name="3C-MXDR"
          Version="1.0.0.0"
          Manufacturer="UnKnown"
          UpgradeCode="7c004bea-c5ed-47ec-95b7-d1383c6068d2"
          IconSourceFile="icon.ico">

    <BootstrapperApplication Id="WixStandardBootstrapperApplication.RtfLicense" />

    <Chain>
      <!-- Step 1: Tray App MSI -->
     <!-- Step 1: Tray App MSI -->
			<MsiPackage Id="TrayApp"
						SourceFile="convert_Trayexe_msi.msi"
						Vital="yes" />

      <!-- Step 2: Sysmon EXE -->
      <ExePackage Id="Sysmon"
                  SourceFile="Installers\Sysmon64.exe"
                  InstallCommand='-accepteula -i sysmonconfig.xml'
                  Vital="yes"
                  PerMachine="yes"
                  Compressed="yes"
                  >
        <Payload SourceFile="Installers\sysmonconfig.xml" />
      </ExePackage>

      <!-- Step 3: Wazuh Agent -->
      <MsiPackage Id="AppMsi1"
                  SourceFile="Installers\wazuh-agent.msi"
                  Vital="yes"
                  />

      <!-- Step 4: Velociraptor -->
      <MsiPackage Id="AppMsi2"
                  SourceFile="Installers\velociraptor.msi"
                  Vital="yes"
                  />
    </Chain>
  </Bundle>
</Wix>
