<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs"
     xmlns:bal="http://wixtoolset.org/schemas/v4/wxs/BootstrapperApplication">
	<Bundle Name="MyUnifiedInstaller"
			Version="1.0.0.0"
			Manufacturer="YourCompany"
			UpgradeCode="PUT-GUID-HERE"
			IconSourceFile="icon.ico">
		<BootstrapperApplicationRef Id="WixStandardBootstrapperApplication.RtfLicense" />



		<Chain>

			<!-- Step 1: Tray App MSI -->

			<MsiPackage Id="TrayApp"

						SourceFile="convert_Trayexe_msi.msi"

						Vital="yes" />



			<!-- Step 2: Sysmon EXE -->

			<ExePackage Id="MainApp"

						SourceFile="Installers\Sysmon64.exe"

						InstallCommand="/quiet"

						Vital="yes" />



			<!-- Step 3: Wazuh Agent -->

			<MsiPackage Id="AppMsi1"

						SourceFile="Installers\wazuh-agent.msi"

						Vital="yes" />



			<!-- Step 4: Velociraptor -->

			<MsiPackage Id="AppMsi2"

						SourceFile="Installers\velociraptor.msi"

						Vital="yes" />

		</Chain>
	</Bundle>
</Wix>
