<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product Id="*" Name="Convert_exe_msi" Language="1033" Version="1.0.0.0" Manufacturer="nakul" UpgradeCode="daab0c08-22f1-4436-8a11-f8a0372208f8">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
		<MediaTemplate />
		
		
		
		
		
		<Condition Message="Incorrect password. Installation cannot proceed.">
			PASSWORD_VALIDATED = "1"
		</Condition>
		
		
		
		
		
		
		
		<Feature Id="ProductFeature" Title="Convert_exe_msi" Level="1">
			<ComponentGroupRef Id="ProductComponents" />
		</Feature>

		<CustomAction Id="LaunchApp"
              FileKey="TrayExe"
              ExeCommand=""
              Execute="immediate"
              Return="ignore" />
		<UIRef Id="CustomUI" />

		<InstallExecuteSequence>
			<Custom Action="LaunchApp" After="InstallFinalize">NOT Installed</Custom>
		</InstallExecuteSequence>
	</Product>


</Wix>