<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<!-- UI definition -->
	<Fragment>
		<UI Id="CustomUI">
			<!-- Standard dialog references -->
			<DialogRef Id="PasswordDlg" />
			<DialogRef Id="ProgressDlg" />
			<DialogRef Id="ExitDialog" />
			<DialogRef Id="FatalError" />
			<DialogRef Id="UserExit" />

			<!-- Custom dialog (defined inline here) -->
			<Dialog Id="InvalidPasswordDlg" Width="260" Height="85" Title="Error">
				<Control Id="Text" Type="Text" X="48" Y="15" Width="180" Height="30" Text="The password entered is incorrect." />
				<Control Id="Ok" Type="PushButton" X="102" Y="57" Width="56" Height="17" Default="yes" Text="OK">
					<Publish Event="EndDialog" Value="Return" />
				</Control>
			</Dialog>

			<!-- Navigation logic -->
			<Publish Dialog="PasswordDlg" Control="Next" Event="NewDialog" Value="ProgressDlg">
				PASSWORD = "12"
			</Publish>
			<Publish Dialog="PasswordDlg" Control="Next" Event="SpawnDialog" Value="InvalidPasswordDlg">
				PASSWORD = "12"
			</Publish>
		</UI>
	</Fragment>
</Wix>
